#ifndef __CONST_H__
#define __CONST_H__

// This file is used to produce const.h by vary_params.pl

#define PARTICLE_COUNT particle_count
#define INITIAL_POSITION_VARIANCE 150
#define INITIAL_ANGLE_VARIANCE 5
#define INITIAL_PARTICLE_FACTOR initial_particle_factor
#define CULLING_FACTOR culling_factor
#define CULLING_PERCENT 0.9

#define BUFFER_FACTOR 20
#define BORDER_WIDTH 100

#endif
