<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="lunabotics.OCU.Properties.RangeFinderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="lunabotics.OCU.RangeFinderSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="lunabotics.OCU.Properties.CameraSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="lunabotics.OCU.Properties.KinectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="lunabotics.OCU.KinectSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="lunabotics.OCU.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="lunabotics.OCU.Properties.ControllerSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <lunabotics.OCU.Properties.RangeFinderSettings>
            <setting name="FrontStartAngle" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="FrontStepAngle" serializeAs="String">
                <value>-4.25</value>
            </setting>
            <setting name="RearStartAngle" serializeAs="String">
                <value>135</value>
            </setting>
            <setting name="RearStepAngle" serializeAs="String">
                <value>-4.25</value>
            </setting>
            <setting name="FrontDataLength" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RearDataLength" serializeAs="String">
                <value>20</value>
            </setting>
        </lunabotics.OCU.Properties.RangeFinderSettings>
        <lunabotics.OCU.RangeFinderSettings>
            <setting name="FrontStartAngle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="FrontStepAngle" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RearStartAngle" serializeAs="String">
                <value>180</value>
            </setting>
            <setting name="RearStepAngle" serializeAs="String">
                <value>-20</value>
            </setting>
        </lunabotics.OCU.RangeFinderSettings>
        <lunabotics.OCU.Properties.CameraSettings>
            <setting name="FrontQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FrontReceivePort" serializeAs="String">
                <value>10002</value>
            </setting>
            <setting name="RearQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="RearReceivePort" serializeAs="String">
                <value>10004</value>
            </setting>
            <setting name="BucketCameraQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="BucketCameraFrameRate" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="BucketCameraPort" serializeAs="String">
                <value>10006</value>
            </setting>
            <setting name="FrontFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RearFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
        </lunabotics.OCU.Properties.CameraSettings>
        <lunabotics.OCU.Properties.KinectSettings>
            <setting name="FrontColorQuality" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="FrontColorFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FrontColorReceivePort" serializeAs="String">
                <value>10002</value>
            </setting>
            <setting name="RearColorQuality" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="RearColorFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RearColorReceivePort" serializeAs="String">
                <value>10004</value>
            </setting>
            <setting name="FrontDepthQuality" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="FrontDepthFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FrontDepthReceivePort" serializeAs="String">
                <value>10003</value>
            </setting>
            <setting name="RearDepthQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="RearDepthFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RearDepthReceivePort" serializeAs="String">
                <value>10005</value>
            </setting>
        </lunabotics.OCU.Properties.KinectSettings>
        <lunabotics.OCU.KinectSettings>
            <setting name="FrontColorQuality" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="FrontColorFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FrontColorReceivePort" serializeAs="String">
                <value>10002</value>
            </setting>
            <setting name="RearColorQuality" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="RearColorFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RearColorReceivePort" serializeAs="String">
                <value>10003</value>
            </setting>
            <setting name="FrontDepthQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="FrontDepthFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="FrontDepthReceivePort" serializeAs="String">
                <value>10004</value>
            </setting>
            <setting name="RearDepthQuality" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="RearDepthFrameRate" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="RearDepthReceivePort" serializeAs="String">
                <value>10005</value>
            </setting>
        </lunabotics.OCU.KinectSettings>
        <lunabotics.OCU.Properties.Settings>
            <setting name="MaxVelocity" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="RobotIPAddress" serializeAs="String">
                <value>192.168.1.134</value>
            </setting>
            <setting name="CommandPort" serializeAs="String">
                <value>10000</value>
            </setting>
            <setting name="OutputInterval" serializeAs="String">
                <value>40</value>
            </setting>
            <setting name="TelemetryPort" serializeAs="String">
                <value>10001</value>
            </setting>
        </lunabotics.OCU.Properties.Settings>
        <lunabotics.OCU.Properties.ControllerSettings>
            <setting name="SpeedSensitivity" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="Player" serializeAs="String">
                <value>One</value>
            </setting>
            <setting name="SteeringSensitivity" serializeAs="String">
                <value>3</value>
            </setting>
        </lunabotics.OCU.Properties.ControllerSettings>
    </userSettings>
</configuration>